@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

@media (prefers-color-scheme: dark) {
    body {
        background-color: red;
        color: #EEE;
    }

    .inicio {
        background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 1)),
    url(img/25550.jpg) !important;
    }

    .sobremi {
        background-color: #333 !important;
        color: #EEE !important;
    }

    .skills {
        background-color: #333 !important;
        color: #EEE !important;
    }

    .curriculum {
        background-color: #333 !important;
        color: #EEE !important;
    }

    .fila {
        color: #EEE !important;
    }

    .item {
        background-color: rgba(255, 255, 255, .5) !important;
        color: #EEE !important;
    }

    .item p {
        color: #EEE !important;
    }

    .portfolio {
        background-color: #333 !important;
        color: #EEE !important;
    }

    .contacto {
        background-color: #333 !important;
        color: #EEE !important;
    }

    .contacto .col input, .contacto .col textarea {
        background-color: rgba(255, 255, 255, .5) !important;
    }
}

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff; /* Cambiado a blanco */
    color: #333; /* Cambiado a un tono más oscuro de gris */
    transition: background-color 0.3s, color 0.3s;
}

/* MENU */
.contenedor-header {
    background: #3498DB;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: #333;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    color: #fff;
}

.nav-responsive {
    background-color: #3498DB;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* Botón de Cambio de Modo Claro/Oscuro */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #3498DB, #ff8c00 70%);
    transition: .4s;
}

input:checked + .slider {
    background-color: #333;
}

input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* Estilos para la sección de inicio en modo claro */
.inicio {
    background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 1)),
    url(img/25550.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner {
    padding: 20px;
    background-color: #ffffff;
    color: #333;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 30px;
}

.inicio .contenido-banner img {
    margin-top: 40px;
    border: 10px solid #3498DB;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1 {
    color: #3498DB;
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.inicio .contenido-banner h2 {
    font-size: 16px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a {
    background-color: #fff;
    color: #333;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #777;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #3498DB;
    border: 1px solid #3498DB;
    color: #fff;
    
}


/* SECCION SOBRE MI */

.sobremi {
    background-color: #fff;
    color: #1e2326;
    padding: 50px 20px;
}

.sobremi .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    color: #3498DB;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span {
    color: #333;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
}

.sobremi .fila .col {
    width: 50%;
}

.sobremi .fila .col h3 {
    color: #333;
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul {
    list-style: none;
}

.sobremi .fila .col ul li {
    margin: 12px 0;
}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #3498DB;
    width: 130px;
}

.sobremi .fila .col ul li span {
    background-color: #3498DB;
    color: #3498DB;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #0000000e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .interes:hover {
    background-color: #3498DB;
}

.sobremi .fila .col .contenedor-intereses .interes:hover i {
    color: #ffffff; /* Cambia el color del ícono al hacer hover */
}

.sobremi .fila .col .contenedor-intereses .interes i {
    font-size: 40px; /* Cambia el tamaño de los íconos a 40 píxeles */
    margin-bottom: 10px;
}

.sobremi button {
    cursor: pointer;
    background-color: #3498db96;
    color: #1e2326;
    border: 2px solid #ffffff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #1e2326;
    position: relative;
    z-index: 10;
    border-radius: 25px;
    overflow: hidden;
}

.sobremi button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #3498DB;
    z-index: -1;
    border-radius: 25px;
    transition: left 0.4s;
    transition-timing-function: ease-in-out;
}

.sobremi button:hover::before {
    left: 0;
}



/* SECCION S K I L L S */
.skills {
    background-color: #fff;
    color: #252A2E;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    color: #3498DB;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila {
    display: flex;
}

.skills .fila .col {
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3 {
    color: #333;
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill {
    height: 10px;
    width: 80%;
    background-color: #f0f0f0; /* Cambié el color de fondo */
    position: relative;
    margin-bottom: 30px;
    border-radius: 50px;
}

.skills .skill .progreso {
    background-color: #3498DB;
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    border-radius: 50px;
}

.skills .skill .barra-skill span {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #3498DB;
    color: #fff;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .drupal{
    width: 0%;
    animation: 2s drupal forwards;
}
@keyframes drupal {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 98%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 99%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .proyect{
    width: 0%;
    animation: 2s proyect forwards;
}
@keyframes proyect {
    0%{width: 0%;}
    100%{width: 99%;}
}
/* SECCION CURRICULUM */
.curriculum {
    background-color: #fff;
    color: #333;
    padding: 50px 20px;
}

.curriculum .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.curriculum h2 {
    color: #3498DB;
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.curriculum .fila {
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col {
    width: 49%;
    padding: 0 20px;
}

.curriculum .fila .col h3 {
    color: #3498DB;
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    color: #1e2326; /* Color del título secundario en modo claro */
}

.curriculum .fila .b {
    border-right: 2px solid #f0f0f0; /* Color del borde en modo claro */
}

.curriculum .fila .derecha {
    border-left: 2px solid #f0f0f0; /* Color del borde en modo claro */
}

.curriculum .fila .item {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #f0f0f0; /* Fondo del ítem en modo claro */
    position: relative;
}

.curriculum .fila .item h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .casa {
    color: #3498DB;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.curriculum .fila .item .fecha {
    display: block;
    color: #3498DB;
    margin-bottom: 10px;
}

.curriculum .fila .item p {
    line-height: 24px;
    color: #333; /* Color del texto en modo claro */
}

.curriculum .fila .izq {
    border-right: 2px solid #3498DB;
    margin-right: 20px;
}

.curriculum .fila .der {
    border-left: 2px solid #3498DB;
    margin-left: 20px;
}

.curriculum .fila .item .conectori {
    height: 2px;
    background-color: #3498DB;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectori .circuloi {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #3498DB;
    float: right;
    position: relative;
    bottom: 4px;
}

.curriculum .fila .item .conectord {
    height: 2px;
    background-color: #3498DB;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.curriculum .fila .item .conectord .circulod {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #3498DB;
    float: left;
    position: relative;
    bottom: 4px;
}


/* SECCION PORTAFOLIO */
.portfolio {
    background-color: #fff; /* Fondo en modo claro */
    color: #333; /* Texto en modo claro */
    padding: 50px 20px;
}

.portfolio .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.portfolio h2 {
    font-size: 48px;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 20px 0;
    color: #3498DB; /* Color del título en modo claro */
}

.portfolio .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.5s;
}

.portfolio .galeria .proyecto img {
    width: 100%;
    display: block;
    transition: transform 0.5s;
}

.portfolio .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(52, 152, 219, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.5s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
    border-radius: 8px;
}

.portfolio .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 0.5s;
    font-weight: bold; 
    transform: translateY(-20px);
    opacity: 0;
    color: #fff; /* Color del título en modo claro */
}

.portfolio .galeria .proyecto .overlay p {
    margin: 0;
    color: #fff; /* Color del texto en modo claro */
}

.portfolio .galeria .proyecto .overlay .project-modal {
    display: none;
}

.portfolio .galeria .proyecto:hover {
    transform: scale(1.05);
}

.portfolio .galeria .proyecto:hover img {
    transform: scale(1.1);
}

.portfolio .galeria .proyecto:hover .overlay {
    opacity: 1;
}

.portfolio .galeria .proyecto:hover .overlay h3 {
    transform: translateY(0);
    opacity: 1;
}



/* Estilos para el modal */
#modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro transparente */
}

.modal-content {
    background-color: #333; /* Fondo del contenido en modo oscuro */
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
    transform: scale(0.8);
    transition: opacity 0.3s ease, transform 0.3s ease;
    max-width: 90%;
    width: 650px;
    position: relative;
}

.modal-content.open {
    opacity: 1;
    transform: scale(1);
}

.close {
    color: #fff; /* Color del icono de cierre en modo oscuro */
    font-size: 42px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close:hover,
.close:focus {
    color: #ccc; /* Color del icono de cierre en hover en modo oscuro */
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    font-size: 26px;
    margin-bottom: 5px;
    color: #fff; /* Color del título en modo oscuro */
}

.modal-summary {
    font-size: 16px;
    margin-bottom: 20px;
    color: #ccc; /* Color del resumen en modo oscuro */
}

.modal-image-container {
    text-align: center;
    margin-bottom: 20px;
}

.modal-image {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.modal-button {
    display: inline-block;
    background-color: #3498DB; /* Color del botón en modo oscuro */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.modal-button:hover {
    background-color: #007bb5; /* Color del botón en hover en modo oscuro */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .modal-content {
        margin: 10% auto;
        padding: 10px;
        width: 90%;
    }

    .modal-title {
        font-size: 24px;
    }

    .modal-summary {
        font-size: 14px;
    }
}

  
/* SECCION CONTACTO */
.contacto {
    background-image: url(img/contact_bg.png);
    background-color: #fff; /* Fondo en modo claro */
    color: #333; /* Texto en modo claro */
    padding: 50px 0;
}

.contacto .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.contacto h2 {
    font-size: 48px;
    font-family: 'Righteous', cursive;
    text-align: center;
    padding: 20px 0;
    color: #3498DB; /* Color del título en modo claro */
}

.contacto .fila {
    display: flex;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input,
.contacto .col textarea {
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #fff; /* Fondo del input en modo claro */
    color: #333; /* Texto del input en modo claro */
    font-size: 18px;
    border-radius: 9px;
    background-clip: padding-box;
    border: 1px solid #ddd; /* Borde del input en modo claro */
}

.contacto button {
    cursor: pointer;
    background-color: #3498DB; /* Color del botón en modo claro */
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 25px;
    overflow: hidden;
}

.contacto button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #3498DB;
    z-index: -1;
    border-radius: 25px;
    transition: left 0.4s;
    transition-timing-function: ease-in-out;
}

.contacto button:hover::before {
    left: 0;
}

.contacto .col img {
    width: 100%;
    border-radius: 5px;
}

.contacto .col .info {
    position: absolute;
    top: 40%;
    background-color: #fff; /* Fondo del contenedor de información en modo claro */
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra en modo claro */
}

.contacto .col .info ul {
    list-style: none;
}

.contacto .col .info ul li {
    margin-bottom: 20px;
}

.contacto .col .info ul li i {
    color: #3498DB;
    display: inline-block;
    margin-right: 20px;
}


/* SECCION FOOTER */
footer {
    background-color: #1f1f1f; /* Fondo oscuro */
    color: #fff; /* Texto en modo oscuro */
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #ff8c00; /* Color naranja para los iconos */
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ff8c00; /* Borde en color naranja */
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a:hover {
    background-color: #ff8c00; /* Cambia el color de fondo al hacer hover en modo oscuro */
    color: #fff; /* Cambia el color del icono al hacer hover en modo oscuro */
}

footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ff8c00; /* Cambiado a color naranja */
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}

@media screen and (max-width: 980px) {
    footer .redes {
        margin-top: 30px;
    }
}

@media screen and (max-width: 980px) {
    footer .redes {
        margin-top: 30px;
    }
}

@media screen and (max-width: 980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: fixed;
        right: 0;
        top: 0;
        background-color: #252A2E;
        width: 100%;
        z-index: 1000;
    }

    nav.responsive ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 20px;
    }
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        background-color: #252A2E;
        width: 100%;
        z-index: 1000;
    }

    nav.responsive ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 700px) {
    .sobremi .fila,
    .skills .fila,
    .curriculum .fila,
    .contacto .fila {
        display: block;
    }

    .sobremi .fila .col,
    .skills .fila .col,
    .skills .fila .col .barra-skill,
    .curriculum .fila .col,
    .curriculum .fila .derecha,
    .portfolio .galeria,
    .portfolio .galeria .proyecto,
    .portfolio .galeria .proyecto img,
    .contacto .fila .col {
        width: 100%;
    }

    .curriculum .fila .derecha {
        margin-left: 0;
    }
}
